<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: bisque; font-family: Arial, sans-serif;">
    <form action="/" method="POST">
        <label for="city">Enter City:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
    <div style="padding-left: 2rem; color: wheat;">
    {% if weather %}
        <h2>City: {{ weather.city }}</h2>
        <p>Temperature: {{ weather.temperature }} °C</p>
        <p>Condition: {{ weather.condition }}</p>
    {% endif %}
    </div>
</body>
</html>
