name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{secrets.docker_username}}
        password: ${{secrets.docker_pass}}
    - name: Build docker
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/weather-app .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/weather-app
